@import '../../vars.scss';

.users {
  text-align: center;
  background-color: $background-color-2;
  color: $text-color;
  padding-bottom: 80px;

  &-title {
    font-size: 29px;
    padding-top: 77px;
    margin-bottom: 8px;
  }

  &-text {
    font-size: 16px;
    color: $text-light-color;
    margin-bottom: 37px;
  }

  &-list {
    margin: 0 auto;
    max-width: 200px;

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      &-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      &-name, &-long {
        font-size: 24px;
        font-weight: 400;
        color: $text-color;
        max-width: 200px;
        overflow-wrap: break-word;
        margin-bottom: 21px;
      }
      &-long {
        margin-bottom: 17px;
      }

      &-info {
        font-size: 16px;
        color: $text-light-color;
        max-width: 200px;
        overflow-wrap: break-word;
        margin-bottom: 12px;
      }
    }
  }
}
