@import '../../styles/vars.scss';

.users {
  text-align: center;
  background-color: $background-color-2;
  color: $text-color;
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-bottom: 120px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 70px;
  }

  &-title {
    font-size: 30px;
    font-weight: 400;
    max-height: 116px;
    overflow: hidden;
    padding-top: 75px;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 40px;
      padding-top: 107px;
      max-height: 162px;
      margin-bottom: 14px;
    }

    @media (min-width: 1024px) {
      font-size: 50px;
      padding-top: 144px;
      max-height: 212px;
      margin-bottom: 12px;
    }
  }

  &-text {
    font-size: 16px;
    color: $text-light-color;
    max-height: 22px;
    overflow: hidden;
    margin-bottom: 37px;

    @media (min-width: 768px) {
      margin-bottom: 76px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }

    @media (min-width: 1024px) {
      max-width: 860px;
    }

    &_item {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 30px;

        @media (min-width: 768px) {
          margin-bottom: 90px;
        }
      }

      &:nth-last-child(-n+3) {
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      &:not(:nth-child(3n)) {
        @media (min-width: 1024px) {
          margin-right: 130px;
        }
      }

      &-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      &-name, &-long {
        font-size: 24px;
        font-weight: 400;
        color: $text-color;
        max-width: 200px;
        overflow-wrap: break-word;
        margin-bottom: 21px;
      }
      &-long {
        margin-bottom: 17px;
      }

      &-info {
        font-size: 16px;
        color: $text-light-color;
        max-width: 200px;
        margin-bottom: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
