@import '../../vars.scss';

.navbar {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: $background-color;

  &-logo, &-burger {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-logo {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
    width: 133px;
    background-image: url(../../assets/images/logo.svg);
  }

  &-burger {
    cursor: pointer;
    width: 20px;
    background-image: url(../../assets/images/menu-icon.svg);
  }
}

