@import '../../../vars.scss';

.navlist {
  width: 445px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  &-item {
    color: $text-color;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }

    &:active {
      color: $secondary-color;
    }
  }
}
