@import '../../vars.scss';

.about {
  font-weight: 400;
  text-align: center;
  color: $text-color;
  margin-bottom: 70px;

  &-title {
    font-size: 28px;
    max-height: 42px;
    overflow: hidden;
  }

  &-description {
    margin-bottom: 30px;

    &-title {
      font-size: 23px;
      line-height: 30px;
      padding-top: 309px;
      margin-bottom: 20px;
      overflow: hidden;
      background-image: url(../../assets/images/man-laptop-v1.svg);
      background-repeat: no-repeat;
      background-position: 50% 33%;
      background-size: 350px 245px;
    }

    &-text {
      font-size: 15.5px;
      line-height: 24px;
      text-align: justify;
      color: $text-light-color;

      &:nth-child(2) {
        margin-bottom: 24px;
      }
    }
  }

  &-btn {
    font-size: 16px;
    font-weight: 600;
    color: $primary-color;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $primary-color-hover;
    }
  }
}
