@import '../../vars.scss';

.about {
  font-weight: 400;
  text-align: center;
  color: $text-color;
  margin-bottom: 70px;
  overflow: hidden;

  @media (min-width: 768px) {
    margin-bottom: 114px;
  }

  &-title {
    font-size: 29.5px;
    font-weight: 400;
    max-height: 40px;
    overflow: hidden;

    @media (min-width: 768px) {
      font-size: 39px;
      max-height: 56px;
    }
  }

  &-description {
    margin-bottom: 30px;
    background-image: url(../../assets/images/man-laptop-v1.svg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 350px 245px;

    @media (min-width: 768px) {
      background-position: -5% 55%;
      background-size: 290px 208px;
    }

    &-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      max-height: 340px;
      overflow: hidden;
      padding-top: 309px;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        text-align: left;
        padding: 63px 0 0 277px;
      }
    }

    &-text {
      font-size: 15.5px;
      line-height: 24px;
      text-align: justify;
      max-height: 144px;
      overflow: hidden;
      color: $text-light-color;

      @media (min-width: 768px) {
        padding-left: 277px;
      }

      &:nth-child(2) {
        margin-bottom: 24px;
      }
    }
  }

  &-btn {
    font-size: 16px;
    font-weight: 600;
    color: $primary-color;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $primary-color-hover;
    }

    @media (min-width: 768px) {
      text-align: left;
      padding-left: 277px;
    }
  }
}
