@import '../../vars.scss';

.register {
  padding-top: 70px;

  &-title {
    font-size: 30px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    margin-bottom: 16px;
    max-height: 42px;
    overflow: hidden;
  }

  &-text {
    font-size: 16px;
    line-height: 22px;
    color: $text-light-color;
    text-align: center;
    max-width: 286px;
    max-height: 66px;;
    overflow: hidden;
    margin: 0 auto 30px auto;
  }

  &-form {
    font-size: 16px;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 80px;    

    &_inputWrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 23px;
    }

    &_label {
      margin-bottom: 10px;
    }

    &_input, &_inputWrong, &_file-label, &_file-labelWrong {
      width: 330px;
      height: 36px;
      font-size: 16px;
      color: #b2b9c0;
      outline: none;
      border: 1px solid #ced4da;
      border-radius: 4px;
      padding: 10px;

      &-text {
        font-size: 12px;
        color: #6c757d;
        padding-top: 8px;
      }
    }

    &_error {
      font-size: 12px;
      color: $primary-color;
      margin: 4px 0 0 10px;
    }

    &_inputWrong {
      border: 1px solid $primary-color;
    }

    &_file {
      position: relative;
      font-size: 16px;
      margin-bottom: 42px;

      &-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      &-label, &-labelWrong {
        display: inline-block;
        cursor: pointer;
        line-height: 14px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        padding-left: 13px;
        overflow: hidden;

        &::after {
          content: 'Browse';
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 34px;
          width: 80px;
          background-color: #f8f7f5;
          color: $text-color;
          border-left: 1px solid #ced4da;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }

      &-labelWrong {
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }

    &_btn {
      text-align: center;
    }
  }
}