@import '../../vars.scss';

.banner {
  height: 400px;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/banner-mob-w360.jpg);
  margin: 40px 0 73px 0;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../assets/images/banner-mob-w720.jpg);
  }

  &-title {
    font-size: 30px;
    line-height: 34px;
    color: $background-color;
    font-weight: 400;
    text-transform: uppercase;
    margin: 70px 0 19px 0;
    width: 312px;
    max-height: 102px;
    overflow: hidden;
  }

  &-text {
    font-size: 16px;
    line-height: 24px;
    color: $background-color;
    width: 330px;
    margin-bottom: 24px;
    overflow: hidden;
  }
}
